<body class="container mx auto">
    <h1>hewlllo</h1>
    <div class="grid grid-cols-2 lg:grid-cols-3" *ngFor="let product of products"  >
        <img src="../../assets/images/image 10.png" class="w-[800px] h-[750px]">

        <div class="pl-11">
            <h1 class=" pt-4"></h1>
           
            <h1 class="flex justify-start">{{product.price}}</h1>
            <span class="my-5">Promo codes will not apply to this product.</span>
            <h2 class="pt-5"></h2>
        </div>  

        <button class="flex justify-end" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
        </button>

    </div>
</body>