<body class="container mx auto">
    <div class="grid grid-cols-2 lg:grid-cols-3 mt-10 mx-24 ">
        <img [src]="this.result.image" class="h-[300px] w-[300px] " >

        <div class="pl-11">
            <h1 class="flex justify-start">{{this.result.title}}</h1>
            <span class="my-5 text-red-500">Promo codes will not apply to this product.</span>
            <h2 class="flex justify-start">${{this.result.price}}</h2>
            <h2 class="flex justify-start">{{this.result.category}}</h2>
            <p class="flex justify-start">{{this.result.description}}</p>
            <h2 class="pt-5"></h2>
        </div>  
        <button class="flex justify-end" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
    </div>
</body>